@use "global" as *;

.overview {
  position: relative;
  margin-top: rem(125.5);
  @include mq(md) {
    margin-top: rem(206);
  }
}

.overview__subtitle {
  top: -43px;
  @include mq(md) {
    top: -30px;
  }
}

.overview__inner {
  @include mq(md) {
    // margin-right: rem(90);
  }
}

.overview__header {
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin: 0 rem(90);
  }
}

.overview__content {
  margin-top: rem(53);
  padding: rem(80) 0;
  background: linear-gradient(90deg, #333 0%, #333 30%, transparent 70%, transparent 100%);
}

.overview::before {
  content: "";
  display: block;
  position: absolute;
  top: rem(-647);
  right: rem(-1);
  transform-origin: top right;
  background-color: $yellow;
  width: 1px;
  height: calc(1448 / 374) * 100vw;
  transform: rotate(15.05deg);
  z-index: -1;
  @include mq(md) {
    height: calc(1712 / 1280) * 100vw;
    top: rem(-206);
    right: rem(68);
    transform: rotate(45deg);
  }
}
